.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
.idea/
*.iml
.vscode/
.DS_Store
*.log
docker-data/
.env
.env.local
*.env

# Terraform Local State & Credentials
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.auto.tfvars
secrets.tfvars
